/* 导入字体 */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    /* 品牌色 */
    --vp-c-brand-1: rgb(87, 205, 96);
    --vp-c-brand-2: rgb(20, 152, 30);
    --vp-c-brand-3: rgb(54, 179, 64);
    
    /* 自定义块颜色定义 */
    --vp-custom-block-info-border: rgb(170, 170, 170);
    --vp-custom-block-info-bg: rgba(223, 223, 223, 0.3);
    --vp-custom-block-tip-border: rgb(0, 200, 0);
    --vp-custom-block-tip-bg: rgba(0, 255, 0, 0.3);
    --vp-custom-block-warning-border: rgb(214, 179, 0);
    --vp-custom-block-warning-bg: rgba(255, 213, 0, 0.3);
    --vp-custom-block-danger-border: rgb(205, 0, 0);
    --vp-custom-block-danger-bg: rgba(255, 0, 0, 0.3);
    --vp-custom-block-note-border: rgb(170, 170, 170);
    --vp-custom-block-note-bg: rgba(223, 223, 223, 0.3);
    --vp-custom-block-important-border: rgb(163, 113, 247);
    --vp-custom-block-important-bg: rgba(115, 0, 255, 0.3);
    --vp-custom-block-caution-border: rgb(205, 0, 0);
    --vp-custom-block-caution-bg: rgba(255, 0, 0, 0.3);
    --vp-custom-block-details-border: rgb(170, 170, 170);
    --vp-custom-block-details-bg: rgba(223, 223, 223, 0.3);
    
    /* 代码组标签分隔条透明 */
    --vp-code-tab-divider: transparent;
    
    /* 设置代码字体 */
    --vp-font-family-mono: 'JetBrains Mono', monospace;
}